*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
    font-family: 'Poppins', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
:root{
    --main-color: rgb(0, 102, 178);
    --text-color: rgb(51, 51, 51);
    --bg-color:rgb(248, 249, 250);
}
body{
    color:var(--text-color);
}

.animated-body {
  min-height: 100vh;
  background: linear-gradient(
      120deg, 
      rgb(248, 249, 250) 10%, 
      rgb(5, 32, 57) 35%, 
      rgb(29, 163, 215) 65%, 
      rgb(129, 12, 12) 90%
  );
  background-size: 400% 400%;
  animation: backgroundShift 8s infinite alternate;
  font-family: Arial, sans-serif;
  margin: 0;
  overflow-y: auto; 
}

@keyframes backgroundShift {
    0% {
    background-position: 0% 50%;
    }
    100% {
    background-position: 100% 50%;
    }
}

.navbar {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 5%;
  box-shadow: 0px 4px 6px  rgb(5, 32, 57);
  position: fixed;
  top: 0;
  left: 0; 
  z-index: 999;
}
.nav-left ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav-left a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}
.nav-left a:hover {
  color: #0055a5; 
}
.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.nav-logo-text {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}
.nav-logo {
  height: 60px; 
  width: auto;
}
.navbar a:hover, 
.navbar .active{
    color: var(--main-color);
    border-bottom:3px solid var(--main-color);
}

/* Section Titles */
.section-title {
  font-size: 2.5rem;
  text-align: center;
  color: var(--main-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@keyframes swipe-in-left {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0); 
      opacity: 1;
  }
}
@keyframes zoom-in {
  0% {
      transform: scale(0); 
      opacity: 0;
  }
  100% {
      transform: scale(1); 
      opacity: 1;
  }
}
#menu-icon{
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--text-color);

}
.home-hero {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  animation: swipe-in-left 1.5s ease-in-out; 
}
.home-hero-btn-container {
  text-align: center;
  margin-top: 2rem;
}
.home-hero-btn {
  margin-top: 2rem; 
  padding: 0.8rem 2rem;
  border-radius: 40px;
  color: var(--text-color, #333);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(250, 250, 250);
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgb(5, 32, 57);
  opacity: 0;
  transform: translateY(20px) scale(0.8);
  animation: zoom-in 1s ease-in-out 1.5s forwards; 
  transition: all 0.3s ease;
}
.home-hero-btn:hover {
  background-color: var(--main-color, rgb(0, 102, 178));
  color: white;
  transform: translateY(-5px) scale(1);
  box-shadow: 0px 6px 12px rgba(0, 102, 178, 0.3);
}


.carousel-caption {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-family: 'Poppins', sans-serif;
}

.carousel-image {
  border-radius: 10px;
  width: 40%;
  height: auto;
}

@keyframes swipe-in-right {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

.performance-banner {
  background: linear-gradient(
      135deg, 
      rgb(5, 32, 57) 20%, 
      rgb(129, 12, 12) 50%, 
      rgb(29, 163, 215) 80%
  );
  text-align: center;
  padding: 1rem 1rem;
  color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  animation: swipe-in-right 1.5s ease-in-out;
}


.performance-content h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.performance-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.cta-button {
  background: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: 2px solid white;
  border-radius: 30px;
  color: rgb(5, 32, 57);
  transition: 0.3s ease-in-out;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.cta-button:hover {
  background: rgb(129, 12, 12);
  color: white;
  border-color: rgb(129, 12, 12);
  transform: scale(1.1);
}



/* Grid Section */
.home-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  opacity: 0;
  animation: swipe-in-left 1.5s ease-in-out forwards;
  animation-delay: 1.5s; 
}

.home-grid-item {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s;
}

.home-grid-item:hover {
  transform: scale(1.05);
}

.home-grid-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.home-grid-item h3 {
  font-size: 1.5rem;
  margin: 10px;
}

.home-grid-item p {
  font-size: 1rem;
  margin: 10px;
  color: #555;
}

.read-more-btn {
  margin-bottom: 10px;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 13px;
  font-size: 16px;
  color: rgb(5, 32, 57);
  background-color: transparent;
  border: 2px solid rgb(5, 32, 57);
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.read-more-btn:hover {
  background-color: rgb(5, 32, 57);
  color: white;
}

.m-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  animation: fadeOut 2.5s forwards 3s;
  z-index: 10;
}

.stripe {
  width: 40px;
  height: 150px;
  transform: skew(-20deg);
  margin: 0 -10px;
  animation: scaleUp 2s ease-in-out;
}

.blue {
  background-color: rgb(5, 32, 57);
  box-shadow: 0 0 15px rgba(5, 32, 57, 0.8);
}

.red {
  background-color: rgb(129, 12, 12);
  box-shadow: 0 0 15px rgba(129, 12, 12, 0.8);
}

.aqua {
  background-color: rgb(29, 163, 215);
  box-shadow: 0 0 15px rgba(29, 163, 215, 0.8);
}

/* ScaleUp Animation */
@keyframes scaleUp {
  0% {
      transform: scale(0) skew(-20deg);
      opacity: 0;
  }
  50% {
      transform: scale(1.2) skew(-20deg);
      opacity: 0.8;
  }
  100% {
      transform: scale(1) skew(-20deg);
      opacity: 1;
  }
}

/* FadeOut Animation */
@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      visibility: hidden;
  }
}
.home-content {
  display: none;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s forwards 4s;
  color: white;
  font-size: 2rem;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

.home-content h1 {
  color: white;
  font-size: 2rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(5px) brightness(0.6);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  display: inline-block;
}


.hero-content .btn {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: rgb(5, 32, 57);
  padding: 10px 20px;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.hero-content .btn:hover {
  background-color: rgb(0, 102, 178); 
  transform: translateY(-3px);
  box-shadow: 0px 10px 15px rgba(0, 102, 178, 0.3);
}


.services {
display: flex;
justify-content: center;
align-items: center;
padding: 50px 10px;
gap: 20px;
background-color: rgb(248, 249, 250);
flex-wrap: wrap; 
}

#service-box1, #service-box2, #service-box3 {
color: rgb(51, 51, 51);
background: #eeeeee;
padding: 20px;
text-align: center;
border-radius: 8px;
flex: 1;
transition: transform 0.3s ease, box-shadow 0.3s ease;
position: relative;
box-shadow: 4px 4px 6px rgba(5, 32, 57, 0.5);
max-width: 300px; 
}

#service-box1 {
box-shadow: 4px 4px 6px rgb(5, 32, 57);
}

#service-box2 {
box-shadow: 4px 4px 6px rgb(129, 12, 12);
}

#service-box3 {
box-shadow: 0px 4px 6px rgb(29, 163, 215);
}

#service-box1:hover, #service-box2:hover, #service-box3:hover {
transform: scale(1.1);
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
}

h2 {
margin-bottom: 10px;
font-size: 1.5rem;
}

p {
font-size: 0.9rem;
color: #666; 
}

.shop-btn {
margin-top: 15px;
padding: 10px 15px;
font-size: 0.9rem;
color: white;
background-color: rgb(5, 32, 57);
border: none;
text-decoration: none;
border-radius: 5px;
display: inline-block;
transition: background-color 0.3s ease;
}

.shop-btn:hover {
background-color:  rgb(4, 24, 44);
}

/*Our Engines Design*/
.engines-hero {
  margin-top: 0.2rem;
  position: relative;
  height: 100vh; 
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  overflow: hidden;
}

.engines-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.engines-hero-content {
  position: relative; 
  z-index: 3;
  color: #fff;
}

.engines-hero-content h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.engines-hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.primary-button {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: rgb(5, 32, 57);
  padding: 10px 20px;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.primary-button:hover {
  background-color: rgb(0, 102, 178); 
  transform: translateY(-3px);
  box-shadow: 0px 10px 15px rgba(0, 102, 178, 0.3);
}

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search{
  display: grid;
  background-color: #cecdcd;
  grid-template-columns: 0.2fr 2fr;
  grid-template-areas: 
   "flex search";
   max-width: max-content;
  margin: 3rem;
  border-radius: 50px;
}
.flex-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-left: 1rem;
  background-color: #cecdcd;
  max-width: auto;
  height: auto;
  grid-area: flex;
  border-radius: 50px;
}
.flex-items{
  background-color: #cecdcd;
  color: var(--text-color);
  border: 1px solid rgb(5, 32, 57);
  margin: 20px;
  padding: 10px 13px;
  border-radius: 100px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.flex-items:hover{
  background-color: rgb(5, 32, 57);
  color: white;
}
.flex-items .active1{
  background-color: rgb(5, 32, 57);
  color: white;
}
.search-engine{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: search;
}
#search-icon{
  font-size: 24px;
  cursor: pointer;
}
.search-box{
  top: 100%;
  right: 0;
  left: 0;
  background: var(--bg-color);
  box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
  border: 1px solid var(--main-color);
  border-radius: 50px;
  margin-left: 0.5rem;
}
.search-box input{
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
}
.series-container{
  display: block;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #9d9c9c;
  padding: 10px;
}

.engines-container{
  display: flex;
  flex-wrap: wrap; 
  gap: 1.5rem; 
  justify-content: center;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.engines-container .box {
  flex: 1 1 calc(50% - 2rem); 
    max-width: calc(50% - 2rem); 
    margin: 0; 
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    animation: fadeInBox 0.5s ease-in-out forwards;
}

@keyframes fadeInBox {
  0% {
    opacity: 0;
    transform: translateY(30px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}
.engines-container .box img {
  width: 100%; 
  max-height: 200px; 
  object-fit: contain;
  margin-bottom: 1rem;
}
.engines-container .box h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

.engines-container .box span {
  font-size: 1rem;
  font-weight: 600;
  color: #0056b3; 
  margin-bottom: 0.5rem;
}

.engines-container .box .bx {
  color: #e63946;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.engines-container .box a {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #0056b3;
  text-decoration: none;
  transition: color 0.3s;
}

.engines-container .box:nth-child(1) {
  animation-delay: 0.2s;
}
.engines-container .box:nth-child(2) {
  animation-delay: 0.4s;
}
.engines-container .box:nth-child(3) {
  animation-delay: 0.6s;
}
.engines-container .box:nth-child(4) {
  animation-delay: 0.8s;
}
.engines-container .box:nth-child(5) {
  animation-delay: 1s;
}
.engines-container .box:nth-child(6) {
  animation-delay: 1.2s;
}
.engines-container .box:nth-child(7) {
  animation-delay: 1.4s;
}
.engines-container .box:nth-child(8) {
  animation-delay: 1.6s;
}
.engines-container .box:nth-child(9) {
  animation-delay: 1.8s;
}
.buy-now-btn{
  display: inline-block;
  width: fit-content;
  padding: 10px 13px;
  font-size: 16px;
  color: rgb(5, 32, 57);
  background-color: transparent;
  border: 2px solid rgb(5, 32, 57);
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.buy-now-btn:hover{
  background-color: rgb(5, 32, 57);
  color: #ffffff;
}
.buy-now-btn-container{
  text-align: center;
  margin-right: 2rem;
}
.engines-container .box .buy-now-btn-container {
  margin-top: 1rem;
}

/*About us styling*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 20px;
  padding: 20px;
  margin: 5rem;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #aeaeae;
}
.logo img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0;
  transform: translateX(-50px); 
  transition: all 2.0s ease; 
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  width: 50%;
  height: auto;
  margin-bottom: 1rem;
  border: 2px solid#ccc;
  border: 4px;
  border-radius: 8px;
  opacity: 0;
  transition: all 2.0s ease;
  transform: translateX(50px);
}
.short-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  font-weight: bold;
  color: var(--main-color);
  opacity: 0; 
  transform: translateY(50px);
  transition: all 2.0s ease;
}
.long-description{
  grid-column: span 3; 
  font-size: 14px;
  color:var(--text-color);
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  opacity: 0; 
  transform: translateY(50px); 
  transition: all 1.5s ease;
}
.animate-left {
  transform: translateX(0);
  opacity: 1;
}

.animate-right {
  transform: translateX(0);
  opacity: 1;
}

.animate-text {
  transform: translateY(0);
  opacity: 1;
}

.animated-section.in-view .logo img {
  transform: translateX(0);
  opacity: 1;
}
.animated-section.in-view .image img {
  transform: translateX(0);
  opacity: 1; 
}
.animated-section.in-view .short-description,
.animated-section.in-view .long-description {
  transform: translateY(0); 
  opacity: 1; 
}

/*Events Styling*/
.title-section {
  position: relative;
  z-index: 0;
  margin-top:0.5rem;
  margin-right: 2rem;
}
.title {
  position: relative;
  display: block;
  color: black; 
  font-size: 2em;
  font-weight: bold;
  z-index: 10;
  margin: 2rem;
}

.event-carousel-wrapper {
  position: relative;
  width: 100%;
  height: 90vh;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 3px solid #e0e0e0;
}

.event-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.event-item {
  position: absolute;
  width: 320px;
  height: 470px;
  opacity: 0.5;
  transition: all 0.8s ease-in-out;
  filter: blur(4px);
  transform: scale(0.7);
  border-radius: 15px;
  background-color: #eaeaea;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.event-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.event-item.highlight {
  transform: scale(1.5);
  opacity: 1;
  filter: blur(0);
  z-index: 2;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

.event-item.highlight::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  border-radius: 50%;
  background-color: var(--pulse-color);
  opacity: 0.1; 
  transform: translate(-50%, -50%) scale(1);
  animation: pulse 2s infinite;
  z-index: -1;
}

@keyframes pulse {
  0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.1;
  }
  100% {
      transform: translate(-50%, -50%) scale(1.5);
      opacity: 0;
  }
}

.event-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.1);
  color: #333;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.event-nav-button.prev {
  left: 30px;
}

.event-nav-button.next {
  right: 30px;
}

.event-nav-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.news-section {
  display: flex;
  flex-direction: row;
  flex: 1fr 1fr 1fr;
  justify-content: space-between; 
  gap: 20px; 
  margin: 50px 0;
  padding: 0 50px; 
}

.news-item {
  position: relative;
  background-color: #fff;
  padding: 20px; 
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
  max-width: 400px; 
  flex: 1; 
}

.news-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.news-item p {
  margin: 15px 0;
  font-size: 1.1rem; 
  line-height: 1.5;
}

.news-section .read-more-btn {
  position: static; 
  margin-top: 10px; 
  padding: 10px 13px;
  font-size: 16px;
  color: rgb(5, 32, 57);
  background-color: transparent;
  border: 2px solid rgb(5, 32, 57);
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  
}

.news-section .read-more-btn:hover {
  background-color: rgb(5, 32, 57);
  color: white;
}

.contact-hero {
  background: url('https://images.unsplash.com/photo-1592194996308-7b43878e84a0') no-repeat center/cover;
    height: 100vh;
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-overlay {
  position: absolute;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), transparent);
    width: 100%;
    height: 100%;
}

.contact-hero-content {
  z-index: 2;
  color: #fff;
}

.comtact-hero-content h1 {
  font-size: 4 rem;
  font-weight: 700;
  margin-bottom: 1 rem;
}
.luxury-btn {
  padding: 10px 20px;
  background: #0077C8;
  color: white;
  border: none;
  border-radius: 30px;
  transition: all 0.3s;
  text-decoration: none;
}

.luxury-btn:hover {
  background: #005493;
  transform: scale(1.05);
}

.contact-hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.interactive-boxes {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 5%;
}

.box {
  flex: 1;
  background: #00274D;
  color: white;
  padding: 2rem;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.box:hover {
  transform: translateY(-10px);
    background: #0077C8;
}

.box i {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* Form */
.form-container {
  background: white;
    padding: 3rem;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    margin: 3rem auto;
}

.help-form h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

textarea {
  resize: none;
}

button {
  display: block;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a; 
  color: #dcdcdc; 
  padding: 30px 50px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
}

.footer-column {
  flex: 1;
  text-align: center;
}

.translate-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

.translate-section span {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
  color: #f1f1f1; 
}

.translate-section button {
  background-color: transparent;
  border: 2px solid #dcdcdc; 
  color: #dcdcdc;
  padding: 8px 16px;
  font-size: 14px;
  margin: 5px; 
  border-radius: 50px; 
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.translate-section button:hover {
  background-color: #0055a5;
  color: #ffffff;
  border-color: #0055a5;
  transform: translateY(-3px); 
  box-shadow: 0 4px 8px rgba(0, 85, 165, 0.3); 
}

.footer-column img {
  transition: transform 0.5s ease-in-out;
}

.footer-column img:hover {
  transform: rotate(360deg); 
}

.social-media-links a {
  text-decoration: none;
  color: #dcdcdc;
  margin: 0 10px;
  font-size: 15px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.social-media-links a:hover {
  color: #0055a5;
  transform: translateY(-2px); 
}

/* Social Media Links */
.social-media-links a {
  margin: 0 15px;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-media-links a:hover {
  transform: translateY(-3px);
}


#facebook-link {
  color: #dcdcdc;
}

#facebook-link:hover {
  color: #3b5998;
}

#twitter-link {
  color: #dcdcdc;
}

#twitter-link:hover {
  color: #1da1f2;
}

#instagram-link {
  color: #dcdcdc;
}

#instagram-link:hover {
  color: #e4405f; 
}




@media (max-width: 980px) {
  .navbar{
    padding: 10px 0;
  }
  .home-grid-container {
      grid-template-columns: 1fr;
  }

  .logo img{
    width: 50px;
    height: 50px;
  }

  .image img{
    width: 110%;
  }
}

  @media (max-width: 770px) {
    .navbar{
      padding: 10px 0;
    }
    #menu-icon {
      display: block; 
    }
  
    .nav-left {
      display: none;
      position: absolute;
      top: 100%; 
      left: 0;
      width: 100%;
      background-color: #ffffff;
      box-shadow: 0 4px 6px rgb(5, 32, 57);
      text-align: center;
      z-index: 1000;
    }
  
    .nav-left.active {
      display: flex;
      flex-direction: column; 
      padding: 1rem 0;
    }
  
    .nav-left ul {
      flex-direction: column;
      gap: 1rem;
    }
  
    .nav-left a {
      font-size: 1.2rem;
      color: #000;
    }
  }

  @media (min-width: 769px) {
    .nav-left {
      display: flex;

    }
  }
@media (max-width:400px) {
  .nav-logo-text{
    display: none;
  }
  
}
@media screen and (min-width: 300px) and (max-width: 812px) {
  .home-hero {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .carousel-inner {
    text-align: center; 
  }

  .carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .carousel-image {
    width: 90%; 
    border-radius: 5px;
  }

  .carousel-caption {
    font-size: 0.9rem; 
    padding: 0 10px;
    margin-top: 0.5rem;
  }

  .carousel-caption h2 {
    font-size: 1.2rem; 
  }

  .carousel-caption p {
    font-size: 0.8rem; 
  }

  .home-hero-btn {
    padding: 0.6rem 1.5rem;
    font-size: 14px; 
    margin-top: 1rem;
  }

  .home-hero-btn:hover {
    transform: scale(1.05); /* Slight lift effect */
  }

  .services {
    flex-direction: column;
    gap: 30px; 
}

#service-box1, #service-box2, #service-box3 {
    max-width: 90%; 
    margin: 0 auto; 
}

h2 {
    font-size: 1.3rem; 
}

p {
    font-size: 0.85rem; 
}

.shop-btn {
    font-size: 0.8rem;
    padding: 8px 12px;
}

  .search {
    grid-template-columns: 1fr; 
    grid-template-areas: 
      "search"
      "flex";
    padding: 1rem; 
    margin: 1.5rem auto; 
    border-radius: 30px; 
  }

  .flex-container {
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px; 
  }

  .flex-items {
    padding: 8px 10px; 
    margin: 5px; 
    font-size: 0.9rem; 
  }

  .search-box input {
    font-size: 0.9rem; 
    padding: 10px; 
  }
  .engines-container {
      flex-direction: column; 
      gap: 1rem; 
  }

  .engines-container .box {
      flex: 1 1 100%; 
      max-width: 100%; 
      margin: 0.5rem auto; 
      padding: 15px;
  }

  .engines-container .box img {
      max-height: 150px; 
  }

  .engines-container .box h3,
  .engines-container .box span,
  .engines-container .box .bx {
      font-size: 1rem; 
  }

  .event-carousel-wrapper {
    height: 60vh; 
    padding: 0 20px;
  }

  .event-item {
    width: 250px; 
    height: 350px;
    transform: scale(0.6); 
    opacity: 0.5;
    filter: blur(3px);
  }

  .event-item.highlight {
    transform: scale(1); 
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }

  .event-nav-button {
    width: 40px; 
    height: 40px;
    font-size: 1.2rem;
  }

  .event-nav-button.prev {
    left: 5px;
  }

  .event-nav-button.next {
    right: 5px;
  }

  .news-section {
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
  }

  .news-section > * {
    flex: 1 1 100%; 
    max-width: 300px; 
  }

  .interactive-boxes{
    flex-direction: column;
  }
}

